<% let pageId = 'about'; %> <% let path = jsonData.pages[pageId].path %> <% let
about = jsonData.pages.about; %> <% let detail = jsonData.container.detail; %>

<!DOCTYPE html>
<html lang="ja">
  <%- include('../common/_head', {pageId:pageId }) %>
  <body class="home" id="body">
    <%- include('../common/_header', {pageId:pageId }) %>
    <!-- main -->
    <main class="p-profile">
      <section class="l-hero">
        <h2 class="l-hero__title">
          <div class="c-block u-bg-main u-base">
            <div class="c-block__heading">タカハシタカユキについて</div>
            <div class="c-block__desc-wrapper">
              <p class="c-block__desc">github</p>
              <p class="c-block__desc">twitter</p>
              <p class="c-block__desc">1986年生まれ</p>
              <p class="c-block__desc">神奈川県平塚市在住</p>
            </div>
          </div>
        </h2>
        <figure class="l-hero__image">
          <img src="<%= path %>assets/images/top/top02.png" alt="work.01" />
        </figure>
      </section>
      <article class="p-about">
        <div class="p-about__timeline-area">
          <ul class="c-timeline__list">
            <li class="c-timeline__item">
              <div class="c-timeline__date">2011年3月</div>
              <div class="c-timeline__card">
                <h3 class="c-timeline__heading">早稲田大学政治経済学部卒業</h3>
                <p class="c-timeline__desc">
                  あとでテキストを入れる。あとでテキストを入れる。あとでテキストを入れる。
                  あとでテキストを入れる。あとでテキストを入れる。あとでテキストを入れる。あとでテキストを入れる。あとでテキストを入れる。
                </p>
              </div>
            </li>
            <li class="c-timeline__item">
              <div class="c-timeline__date">2017年3月</div>
              <div class="c-timeline__card">
                <h3 class="c-timeline__heading">倉庫の事務職に</h3>
                <p class="c-timeline__desc">
                  あとでテキストを入れる。あとでテキストを入れる。あとでテキストを入れる。
                  あとでテキストを入れる。あとでテキストを入れる。あとでテキストを入れる。あとでテキストを入れる。あとでテキストを入れる。
                </p>
              </div>
            </li>
            <li class="c-timeline__item">
              <div class="c-timeline__date">2019年3月</div>
              <div class="c-timeline__card">
                <h3 class="c-timeline__heading">プログラミング学習開始</h3>
                <p class="c-timeline__desc">
                  あとでテキストを入れる。あとでテキストを入れる。あとでテキストを入れる。
                  あとでテキストを入れる。あとでテキストを入れる。あとでテキストを入れる。あとでテキストを入れる。あとでテキストを入れる。
                </p>
              </div>
            </li>
            <li class="c-timeline__item">
              <div class="c-timeline__date">2022年3月</div>
              <div class="c-timeline__card">
                <h3 class="c-timeline__heading">タイトルが入る</h3>
                <p class="c-timeline__desc">
                  あとでテキストを入れる。あとでテキストを入れる。あとでテキストを入れる。
                  あとでテキストを入れる。あとでテキストを入れる。あとでテキストを入れる。あとでテキストを入れる。あとでテキストを入れる。
                </p>
              </div>
            </li>
          </ul>
        </div>

        <div class="p-about__text-area">
          <!-- json -->
          <div class="c-block">
            <div class="c-block__heading"><%= detail.heading %></div>
            <div class="c-block__desc-wrapper">
              <p class="c-block__desc"><%= detail.desc01 %></p>
              <p class="c-block__desc"><%= detail.desc02 %></p>
              <p class="c-block__desc"><%= detail.desc03 %></p>
              <p class="c-block__desc"><%= detail.desc04 %></p>
            </div>
          </div>
        </div>
      </article>
    </main>
    <!-- /main -->

    <%- include('../common/_footer', {pageId:pageId }) %> <%-
    include('../common/_script', {pageId:pageId }) %>
  </body>
</html>
